:root {
    --light-shade: #F9F9F8;
    --primary-accent: #EE4598;
    --main-color: #D57D98;
    --second-accent: #FCBA03;
    --dark-shade: #50325E;
}

.score-table {
    background-color: var(--light-shade);
    font-family: 'Cunia';
    display: flex;
    color: var(--primary-accent);
    width: 100%;
    display: table;
    border-spacing: 0;
}

.score-table thead {
    color: var(--dark-shade);
    width: 100%;
}

.score-table thead tr {
    display: flex;
    width: 100%;
}
    

.score-table th {
    text-align: center;
    padding: 10px;
    width: 20%;
}


.score-table tbody tr {
    display: flex;
    width: 100%;
    border-left: 2px solid var(--primary-accent);
    border-right: 2px solid var(--primary-accent);
    border-bottom: 2px solid var(--primary-accent);
}

.score-table tbody tr:first-child {
    border-top: 2px solid var(--primary-accent);
}

    
.score-table td:not(:first-child){
    border-left: 1px solid var(--primary-accent);
}

.score-table td {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20%;
}

.score-table .score-cell, .comment-cell {
    height: 100%;
    font-size: 44px;
    background-color: var(--light-shade);
    width: 100%;
    text-indent: 10px;
    text-align: center;
    border: none;
    color: var(--primary-accent);
    font-family: 'Cunia';
}

::placeholder {
    font-size: 16px;
}
