.score-table {
    font-family: 'Cunia';
    display: flex;
    background-color: #f0e6ef;
    color: #EE4598;
    border: 2px solid #EE4598;
    width: 100%;
    
}

.score-table thead {
    width: 100%;
}

.score-table thead tr {
    display: flex;
    width: 100%;
}
    
.score-table th:not(:first-child){
    border-left: 1px solid #EE4598;
}

.score-table th {
    text-align: center;
    padding: 10px;
    width: 20%;
}

