.score-table {
    font-family: 'Cunia';
    display: flex;
    color: #EE4598;
    border: 2px solid #EE4598;
    width: 100%;
    display: table;
}

.score-table thead {
    width: 100%;
    background-color: #f0e6ef;
}

.score-table thead tr {
    display: flex;
    width: 100%;
}
    
.score-table th:not(:first-child){
    border-left: 1px solid #EE4598;
}

.score-table th {
    text-align: center;
    padding: 10px;
    width: 20%;
}


.score-table tbody tr {
    display: flex;
    width: 100%;
    border-top: 2px solid #EE4598;
}

    
.score-table td:not(:first-child){
    border-left: 1px solid #EE4598;
}

.score-table td {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20%;
}

.score-table .score-cell {
    width: 100%;
    text-indent: 10px;
    text-align: center;
    border: none;
    color: #EE4598;
    font-family: 'Cunia';
}
